
{% extends 'main.html'%}
{% block content %}
<div class="container">

<form method="post" class="well form-horizontal" enctype="multipart/form-data" action='project_submission'>
{% csrf_token %}
<fieldset>

<!-- Form Name -->
<legend>New Project</legend>
<p>Must fill data having *</p>

<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label">Name:(*)</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input  name="name" placeholder="Full Name" class="form-control"  type="text">
<!-- 	name:<input type="text" name="name"></br> -->
    </div>
  </div>
</div>

<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label" >Proposal:(*)</label>
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
	<input type="file" name="proposal_file"></br>
    </div>
  </div>
</div>

<!-- Text input-->
       <div class="form-group">
  <label class="col-md-4 control-label">Git URL</label>
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
  <input name="git_url" placeholder="Git URL" class="form-control"  type="text">
    </div>
  </div>
</div>

<!-- Text area -->

<div class="form-group">
  <label class="col-md-4 control-label">Refernces</label>
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
        	<textarea class="form-control" name="reference" placeholder="Refernces"></textarea>
  </div>
  </div>
</div>

<!-- Text area -->

<div class="form-group">
  <label class="col-md-4 control-label">Tools</label>
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
        	<textarea class="form-control" name="tools" placeholder="Tools Used"></textarea>
  </div>
  </div>
</div>

<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label">Report</label>
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
	<input type="file" name="report_file">
  </div>
</div>



<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label"></label>
  <div class="col-md-4">
    <button type="submit" class="btn btn-warning" >Send <span class="glyphicon glyphicon-send"></span></button>
  </div>
</div>

</fieldset>
</form>
</div>
    </div><!-- /.container -->
<!-- 	ref:<input type="text" name="reference"></br> -->
<!-- 	tools<input type="text" name="tools"></br> -->
<!-- 	<input type="submit"/> -->
<!-- </form> -->

{% endblock%}
